# Function (mixed):

##### Q.1 Suppose a dictionary contains type of pet (cat, dog, etc), name of pet and age of pet . Write a program that obtains the sum of all dog's ages .

In [19]:
from functools import reduce

lst = [
    {"type": "dog", "name": "Bruno", "age": 5},
    {"type": "cat", "name": "Whiskers", "age": 3},
    {"type": "dog", "name": "Max", "age": 2},
    {"type": "parrot", "name": "Polly", "age": 4},
    {"type": "dog", "name": "Rocky", "age": 6}
]

total = reduce(lambda x,y:x+y['age'],filter(lambda x: x["type"]=="dog",lst),0) # adding the age of all the dogs using reduce after filtering their type
print('Total of dogs\' age: ',total)

Total of dogs' age:  13

<h5> Q.2 Consider the following list:
    <br>  lst = [1.25, 3.22, 4.68, 10.95, 32.55, 12.54]
    <br>The number in the list represent radii of circles. write a program to obtain a list of areas of these circles round off to two decimal places.</h5>

In [18]:
lst =  [1.25, 3.22, 4.68, 10.95, 32.55, 12.54]
area = list(map(lambda x:round((3.14*(x**2)),2),lst)) # applying formula Ï€(r)**2 and then round off it to the 2 decimal and storing in a list
print(area)

[4.91, 32.56, 68.77, 376.49, 3326.84, 493.77]

<h5> Q.3 Consider the following lists:
    <br> nums = [10,20,30,40,50,60,70,80]
    <br> strs = ['A','B','C','D','E','F','G','H']
    <br> Write a program to obtain a list of tuples, where each tuple contains a number from one list and a string from another, in the same order in which they appear in the original lists.<h5>

In [15]:
nums = [10,20,30,40,50,60,70,80]
strs = ['A','B','C','D','E','F','G','H']

add_lst = list(map(lambda x,y:(x,y),nums,strs)) # creating a tuple carrying a word from both nums and strs list
print(add_lst)

[(10, 'A'), (20, 'B'), (30, 'C'), (40, 'D'), (50, 'E'), (60, 'F'), (70, 'G'), (80, 'H')]

##### Q.4 Suppose a dictionary contains names of students and marks obtained by them in an examination. Write a program to obtain a list of students who obtained more than 40 marks in the examination .

In [25]:
student_marks = {"Alice": 35,"Bob": 42,"Charlie": 50,"David": 39,"Eve": 60,"Frank": 28}
student_list = list(filter (lambda x:int(x[1])>40,student_marks.items())) # filtering all the students who got more than 40 marks
print(student_list)

[('Bob', 42), ('Charlie', 50), ('Eve', 60)]

<h5> Q.5 Consider the following list:
    <br>lst = ['Malayalam','Drawing','madamlamadam','1234321']
    <br>write a program to print those strings which are palindromes .<h5>

In [24]:
lst = ['Malayalam','Drawing','madamlamadam','1234321']
reversed_lst = list(filter(lambda x:x.lower()==("".join(reversed(x))).lower(),lst)) # finding which string is equal to it's reverse string
print('The palidrome numbers are: ',reversed_lst)

The palidrome numbers are:  ['Malayalam', '1234321']

##### Q.6 A list contains names of employees . Write a program to filter out those names whose length is more than 8 characters .

In [17]:
employees = ['Jonathan', 'Alice', 'Christopher', 'Bob', 'Stephanie', 'Raj', 'Elizabeth']
upper_than_8 = list(filter(lambda x:len(x)>8,employees))  # checkinging the name whose length is more than 8
print("The list of words whose length is greater than 8 is: ",upper_than_8)

The list of words whose length is greater than 8 is:  ['Christopher', 'Stephanie', 'Elizabeth']

<h5> Q.7 A dictionary contains following information about 5 employees:
    <br> First name
    <br> Last name 
    <br> Age
    <br> Grade (Skilled, Semi-skilled, Highly-skilled)
    <br> Write a program to obtain a list of employees (first name + last name) who are highly-skilled . </h5>

In [23]:
employees = [
    {"first_name": "Alice", "last_name": "Smith", "age": 30, "grade": "Highly-skilled"},
    {"first_name": "Bob", "last_name": "Johnson", "age": 25, "grade": "Skilled"},
    {"first_name": "Charlie", "last_name": "Brown", "age": 28, "grade": "Highly-skilled"},
    {"first_name": "David", "last_name": "Lee", "age": 35, "grade": "Semi-skilled"},
    {"first_name": "Eva", "last_name": "Wilson", "age": 27, "grade": "Skilled"}
]

filtered_list = list(filter(lambda x:x["grade"].lower()=='highly-skilled',employees)) # return a list of highly-skilled employee  
name = list(map(lambda x: x["first_name"]+" "+x['last_name'], filtered_list)) # adding the first and last name of the employees of filtered_list
print("The Highly-skilled employees are: ",name)

The Highly-skilled employees are:  ['Alice Smith', 'Charlie Brown']

<h5> Q.8 Consider the following list:
    <br> lst = ['Benevolent','Dictator','For','Life']
    <br> Write a program to obtain a string 'Benevolent Dictator For Life' .

In [25]:
from functools import reduce

lst = ['Benevolent','Dictator','For','Life']
add_lst = reduce(lambda x,y:x+" "+y,lst) # adding each string to each other using reduce function
print('The Concatenation of the strings is: ',add_lst)

The Concatenation of the strings is:  Benevolent Dictator For Life

<h5> Q.9 Consider the following list of students in a class .
    <br> lst = ['Rahul','Priya','Chaaya','Narendra','Prashant']
    <br> Write a program to obtain a list in which all the names are conversted to uppercase .

In [26]:
lst = ['Rahul','Priya','Chaaya','Narendra','Prashant']
upper_lst = list(map(lambda x:x.upper(),lst)) # using upper() to convert the words to uppercase
print('Upper case of lst: ',upper_lst)

Upper case of lst:  ['RAHUL', 'PRIYA', 'CHAAYA', 'NARENDRA', 'PRASHANT']